@model HerramientasProgFinal.ViewModels.ConsultorioViewModel

@{
    ViewData["Title"] = "Index";
}
<br>
<body>
    <div class="container text-center">
        <h2>Consultorios Registrados</h2>
    </div>

<br>  
<div class="col-10 col-md-6 col-lg-8 p-3"  > 
    <form method="get" class="d-flex" asp-action="Index">
        
        <label for="checkbox">Buscar por nombre o direccion:</label>

        <input asp-for="filter" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">

        <button class="btn btn-outline-info" type="submit">Buscar</button>
        </form> 
</div>
<br>
    <p>
        <a asp-action="Create" class="btn btn-info btn-sm text-light">Agrega un Consultorio</a>
    </p>
<br>
    <table class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Direccion
                </th>
                <th>
                    
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Consultorios) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>

                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm text-light">Detalles</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas borrar este doctor?')">Borrar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>