@model HerramientasProgFinal.Models.Citacion

@{
    ViewData["Title"] = "Create";
}

<body>
    <h1>Create</h1>

    <h4>Citacion</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label  class="control-label">Descripcion</label>
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Nombre del doctor</label>
                    <select asp-for="DoctorId" class="form-control" asp-items="ViewBag.DoctorId"></select>
                </div>
                <div class="form-group">
                    <label class="control-label">Nombre del paciente</label>
                    <select asp-for="PacienteId" class="form-control" asp-items="ViewBag.PacienteId"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Volver</a>
    </div>
</body>
</html>