@model HerramientasProgFinal.Models.Citacion

@{
    ViewData["Title"] = "Details";
}


<body>
    <h1>Detalles de la cita</h1>

    <div class="details-section">
        <h2>Descripcion</h2>
        <p>@Html.DisplayFor(model => model.Descripcion)</p>
    </div>

    <div class="details-section">
        <h2>Doctor</h2>
        <p>@Html.DisplayFor(model => model.Doctor.Nombre)</p>
    </div>

    <div class="details-section">
        <h2>Paciente</h2>
        <p>@Html.DisplayFor(model => model.Paciente.Nombre)</p>
    </div>

    <div class="actions-section">
        <a asp-action="Edit" class="btn btn-primary btn-sm" asp-route-id="@Model?.Id">Editar</a>
        <a asp-action="Index" class="btn btn-secondary btn-sm">Volver</a>
    </div>
</body>
</html>
