@using Microsoft.AspNetCore.Identity
@model List<IdentityRole>

<h3 class="text-primary">Roles de Usuario</h3>

<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item">@item.Name</li>
    }
</ul>

<a href="@Url.Action("Create", "Roles")" class="btn btn-primary mt-3">Crear Rol</a>
