<div class="container text-center">
    <br>
    <h1 class="text-info" >Sistema de Citas </h1c>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mt-4 bg-light mb-3 "> 
                <div class="card-body card bg-light mb-1 ">
                    <h5 class="card-text" >Realiza tu Consulta!</h5>
                    <ul class="list-group ">
                        <li class="list-group-item ">
                            <h6><a href="@Url.Action("Index", "Consultorio")" class="card-text text-secondary">Consultorio</a></h6>
                        </li>
                        <li class="list-group-item ">
                        <h6><a href="@Url.Action("Index", "Paciente")" class="card-text text-secondary">Pacientes</a></h6>
                        </li>
                        <li class="list-group-item ">
                        <h6><a href="@Url.Action("Index", "Citacion")" class="card-text text-secondary">Citas</a></h6>
                        </li>
                        <li class="list-group-item ">
                        <h6><a href="@Url.Action("Index", "Doctor")" class="card-text text-secondary">Doctores</a></h6>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
