@model HerramientasProgFinal.Models.Paciente

@{
    ViewData["Title"] = "Details";
}

<body>
    <br>
    <h1 class="d-flex justify-content-center">Detalles del Paciente</h1>
    <br>
    <br>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                    <div class="card-body card bg-light mb-3 ">     
                        <ul class="list-group-item ">
                            <li class="list-group-item">            
                                    <dt>Nombre: </dt> <dd>@Html.DisplayFor(model => model.Nombre)</dd>
                            </li>    
                            <li class="list-group-item">
                                <dt>Edad: </dt> <dd>@Html.DisplayFor(model => model.Edad)</dd>
                            </li>
                        </ul>
                    </div>
                <div>
                    <a asp-action="Edit" class="btn btn-info btn-sm text-white" asp-route-id="@Model?.Id">Editar</a>
                    <a asp-action="Index" class="btn btn-success btn-sm">Volver</a>
                </div>
            </div>
        </div>
    </div>

</body>




@* <h1>Detalle del paciente</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombre
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            Edad
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Edad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary btn-sm" asp-route-id="@Model?.Id">Editar</a>
    <a asp-action="Index" class="btn btn-secondary btn-sm">Volver</a>
</div> *@
