@using HerramientasProgFinal.ViewModels;
    
@model PacienteViewModel

@{
    ViewData["Title"] = "Index";
}


<body>
    <h1>Pacientes</h1>

    <form method="get" asp-action="Index">
        <label for="checkbox">Buscar por nombre o edad:</label>
        <input asp-for="filter" type="text">
        
        <button type="submit">Buscar</button>
    </form>
    <br>

    <p>
        <a asp-action="Create" class="btn btn-primary btn-sm">Crear paciente nuevo</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Edad
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Pacientes) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Edad)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Detalles</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas borrar este paciente?')">borrar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
